@import '../assets/variables';
#content {
  width: 800px;
  margin: 0 auto;
}
footer{
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 25px;
  padding-top: 20px;
  color: lighten($main, 40%);
  border-top: 1px solid lighten($main, 80%);
}

@media screen and (max-width: 845px) {
  #content {
    width: 100%;
    padding: 0 10px;
  }
}