@import '../assets/variables';
#content {
  width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}

@media screen and (max-width: 845px) {
  #content {
    width: 100%;
    padding: 0 10px;
  }
  
}