<div id="search">
  <form #searchRes [formGroup]="searchForm"  (clickOutside)="close()" [attachOutsideOnClick]="attachOutsideOnClick">
    <input type="text" placeholder="search" [formControl]="searchForm.controls['query']">
    <div id="results" *ngIf="results!=undefined && results!=null && results.length!=0" >
      <div class="search-result" *ngFor="let result of results">
        <a [routerLink]="['/' + result.username]" (click)="results=null">
          <div class="avatar"><img src="{{ result.avatar }}" alt="{{ result.username }}"></div>
          <div class="username">{{ result.username }}</div>
        </a>
      </div>
    </div>
  </form>
</div>
