<div *ngIf="loaded">
  <div id="head" [ngClass]="{bioh: user.bio!=''}">
    <div id="user-info" [ngClass]="{bioh: user.bio!=''}">
      <div id="avatar" [ngClass]="{biow: user.bio!=''}">
        <img src="{{user.avatar}}" [ngClass]="{biow: user.bio!=''}">
      </div>
      <div id="info">
        <div id="with-bio" *ngIf="user.bio!=''">
          <div id="username">
            <h1>
              {{ user.username }}
            </h1>
          </div>
          <div id="followers">
            <h3>
              / <a (click)="showSamers()"><b>{{ followers }}</b> <span *ngIf="followers==1">samer</span><span *ngIf="followers!=1">samers</span></a>              / <a (click)="showSamings()"><b>{{ following }}</b> saming</a>
            </h3>
          </div>
          <div id="bio">{{user.bio}}</div>
        </div>
        <div *ngIf="user.bio==''" id="followers">
          <div id="username">
            <h1>
              {{ user.username }}
            </h1>
          </div>
          <div id="followers">
            <h3>
              / <a (click)="showSamers()"><b>{{ followers }}</b> <span *ngIf="followers==1">samer</span><span *ngIf="followers!=1">samers</span></a>              / <a (click)="showSamings()"><b>{{ following }}</b> saming</a>
            </h3>
          </div>
        </div>
      </div>
      <div id="options" *ngIf="auth.loggedIn()">
        <div *ngIf="!isMe">
          <button *ngIf="!follows" (click)="changeFollow()">follow</button>
          <button *ngIf="follows" (click)="changeFollow()" class="active" (mouseover)="unfollowButton='unfollow'" (mouseout)="unfollowButton='  following '">{{ unfollowButton }}</button>
        </div>
        <div *ngIf="isMe">
          <a [routerLink]="['/edit']"><i class="fa fa-pencil" aria-hidden="true"></i> edit profile</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let post of posts; let i = index">
    <post [post]="post" [index]="i" (delete)="deletePost($event)"></post>
  </div>
  <div id="load-more"><a (click)="loadMore()" *ngIf="more">load more</a> <span id="no-more" *ngIf="!more">no more posts</span></div>
</div>
<app-user-list-popup *ngIf="userlistOpen" (end)="closeUserlistPopup()" [popupTitle]="ulTitle" [userList]="userList"></app-user-list-popup>