@import '../../../assets/variables';
#search {
  height: $header-height;
  width: 100%;
  text-align: center;
  line-height: $header-height;
  vertical-align: middle;
  position: relative;
  z-index: 15;
  form {
    margin: 0 auto;
    width: 250px;
    display: block;
    position: relative;
    #results {
      width: 250px; //height: 300px;
      max-height: 248px;
      overflow: auto;
      background: $light;
      top: 45px;
      position: absolute;
      border: 1px solid $main; //padding: 5px 0;
      .search-result {
        text-align: left;
        padding: 5px 10px;
        color: $main;
        transition: .2s all;
        &:hover {
          background: darken($light, 3%);
        }
        div {
          line-height: 22px;
          div {
            line-height: 22px;
            vertical-align: middle;
            display: inline-block;
            img {
              height: 25px;
              width: 25px;
              margin-bottom: -5px;
            }
            &.username {
              margin-left: 3px;
            }
          }
        }
      }
    }
  }
}
