<div class="post" *ngIf="loaded">
  <div class="by">
    <a [routerLink]="['/'+post.by]">
      <div class="avatar">
        <img src="{{ user.avatar }}">
      </div>
    </a>
    <div class="name"><a [routerLink]="['/'+user.username]">{{ user.username }}</a> is like</div>
    <div class="ago">{{ posted }} </div>
    <span *ngIf="isMe" class="remove"><a (click)="remove()">&times; </a></span>
  </div>
  <div class="content">
    <div *ngIf="post.type=='image'">
      <div class="description" *ngIf="post.description!='' || post.description!=null">
        {{post.description}}
      </div>
      <img src="{{post.content}}" width="100%" (dblclick)="same()">
    </div>
    <div *ngIf="post.type=='text'">
      {{ post.content }}
    </div>
  </div>
  <div class="info">
    <div class="amount">
      <a>{{ sameCount }}</a>
      <div *ngIf="sameCount!=1">people are the same</div>
      <div *ngIf="sameCount==1">person is the same</div>
    </div>
    <div *ngIf="auth.loggedIn()" class="interact"><a *ngIf="!samed" (click)="changeSame()">same</a><a *ngIf="samed" (click)="changeSame()" class="unsame">unsame</a></div>
  </div>
</div>
