@import '../../../assets/variables';

$by-height: 30px;

.post {
  width: 100%;
  border: 1px solid lighten($main, 78%);
  background: $light;
  padding: 15px;
  margin-top: 20px;
  .by {
    width: 100%;
    height: $by-height;
    vertical-align: top;
    line-height: $by-height;
    border-bottom:  1px solid lighten($main, 78%);
    padding-bottom: 5px;
    position: relative;
    .avatar {
      width: $by-height;
      height: $by-height;
      display: inline-block;
      background-size: cover;
      vertical-align: top;
    }
    .avatar img {
      height: $by-height;
    }
    .name {
      display: inline-block;
      height: $by-height;
      vertical-align: middle;
      line-height: $by-height;
      margin-left: 5px;
      font-size: 1.5rem;
      font-weight: 300;
      margin-bottom: 5px;   
    }
    .ago{
      display: inline-block;
      margin-left: 5px;
      font-size: .8rem;
      color: lighten($main, 50%);
      position: absolute;
      right: 0;
    }
  }
  .content {
    width: 100%;
    margin-top: 10px;
    font-size: 1.6rem;
    font-weight: 300;
    padding: 10px 0;
    .description{
      font-size: 1.3rem; 
      margin-bottom: 5px;
    }
    img {
      width: 100%;
      cursor: pointer;
      margin: 0 auto;
    }
  }
  .info {
    width: 100%;
    font-size: 1.3rem;
    font-weight: 300;
    position: relative;
    height: 23px;
    margin-top: 10px;
    border-top: 1px solid lighten($main, 78%);
    padding-top: 5px;
    .amount {
      position: absolute;
      div {
        display: inline-block;
      }
    }
    .interact {
      position: absolute;
      right: 0;
      .unsame{
        color: lighten($warning, 20%);
        &:hover{
          color: lighten($warning, 30%);
        }
      }
    }
  }
}
