@import '../../assets/variables';
$info-height: 50px;
#head {
  border-bottom: 1px solid lighten($main, 70%);
  width: 100%;
  height: $info-height;
}

#user-info {
  width: 100%;
  height: $info-height;
  position: relative;
  div {
    display: inline-block;
    img {
      width: $info-height;
      height: $info-height;
    }
  }
  #avatar {
    height: $info-height;
  }
  #info {
    height: $info-height;
    line-height: $info-height;
    vertical-align: top;
    #username {
      margin-left: 10px;
    }
    #followers {
      margin-left: 10px;
      color: lighten($main, 30%);
      b{
        font-weight: 400;
      }
    }
  }
  #options{
    position: absolute;
    right: 0;
    bottom: 10px;
  }
}
