<div *ngIf="loaded">
  <div id="head">
    <div id="user-info">
      <div id="avatar">
        <img src="{{user.avatar}}">
      </div>
      <div id="info">
        <div id="username">
          <h1>
            {{ user.username }}
          </h1>
        </div>
        <div id="followers">
          <h3>
            / <b>{{ user.followers }}</b> followers / <b>{{user.following}}</b> following
          </h3>
        </div>
      </div>
      <div id="options" *ngIf="auth.loggedIn()">
        <div *ngIf="!isMe">
          <button *ngIf="!follows" (click)="follow()">follow</button>
          <button *ngIf="follows" (click)="unfollow()" class="active" (mouseover)="unfollowButton='unfollow'" (mouseout)="unfollowButton='  following '">{{ unfollowButton }}</button>
        </div>
        <div *ngIf="isMe">
         <a [routerLink]="['/edit']"><i class="fa fa-pencil" aria-hidden="true"></i> edit profile</a>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let post of posts">
    <post [post]="post" [user]="user"></post>
  </div>
</div>
